.Trashes
Thumbs.db
.cumulocity
*.log
node_modules
.npm


node_modules
*/node_modules/*
*.DS_Store
*\.orig
\.orig\..*$
\.orig$
\.chg\..*$
\.rej$
\.conflict\~$
nbproject/
\.*
!\.gitignore
!\.jshintrc
npm-debug.log
.tmp
*/.bin/*
*/.bin
